ip dhcp information option
ip dhcp relay information policy replace
ip dhcp snooping
ip dhcp snooping vlan 1000
ip dhcp snooping vlan 1001
ip dhcp snooping vlan 1002
!
vlan database
 vlan 1000-1002
exit
!
interface gigabitethernet 1/0/1
 switchport mode trunk
 switchport trunk allowed vlan add 1000,1001
 switchport trunk native vlan 1002
exit
!